.add-margin
{
	margin-left: 5px;
}
body
{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	width: 95%;
	margin: 0 auto;
}
.body-left
{
	width: 275px;
	display: block;
	position:static;
}
.body-right
{
	overflow-x: hidden;
	width: 90%;
    /* width: 100%; */
}
.btn
{
	border-radius: 0;
}
.card-icons
{
	margin-left: 8px;
}
.clr-btn
{
	background-color: #69ba00;
	height: 40px;
	width: 80px;
}
.color
{
	color: white;
}
.display
{
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto auto auto;
	row-gap: 20px;
	padding: 20px 30px;

}
.display-body
{
	border: 2px solid lightgray;
	margin-left: 15px;
    margin-right: 10px;
	align-items: center;
	
}
.drop
{
	border: 2px solid grey;
}
.dropdown-item
{
    text-align: left;
}
.dum-flex
{
	align-items: center;
	column-gap: 10px;
	display: flex;
	flex-wrap: nowrap;
    /* margin-left: 40px; */
}
.emp-add
{
	background-color: #00b1fc;
	
}
.emp-card
{
	background-color: lightgrey;
	cursor: pointer;
	margin: 5px 10px;
	width: 254px;
}
.emp-card-body
{
	align-items: center;
	column-gap: 15px;
	font-size: 13px;
	padding: 10px 10px;
}
.emp-det
{
	align-items: center;
	column-gap: 10px;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	text-align: center;
}
.emp-image
{
	flex-grow: 0.5;
}
.emp-image>img
{
	height: 100px;
	margin: 5px 0;
	width: 70px;
}
.emp-text
{
	flex-grow: 1;
}
.emp-text>p
{
	font-size: 11px;
	margin: 5px;
}
.filter-body
{
	margin: 20px 15px;
}
.filter-btn
{
	display: block;
	font-size: 13px;
	margin-top: 5px;
	width: max-content;
	padding-left: 0;
}
.form-close
{
    animation: blinkingBackground 1s infinite;
    color: #000;
    display: none;
}
@keyframes blinkingBackground{
    25%		{ background-color: grey}
    50%		{ background-color: white}
    75%		{ background-color: grey}
    100%	{ background-color: white}
    0%		{ background-color: grey}
}
.g1
{
	text-align: center;
	width: 300px;
}

.header-style
{
	font-size: 30px;
    margin-bottom: 0;
}
.html
{
	margin: 0;
	padding: 0;
}
.letter
{
	column-gap:8px;
	display: flex;
	flex-wrap: wrap; 
}
.login
{
	align-items: baseline;
	column-gap: 10px;
	display: flex;
	flex-wrap: nowrap;
    padding-top: 20px;
}
.login-text
{
	font-size: 20px;
}
.mag-glass
{
	border-radius: 0;
	background-color: white;
	border-right: none;
}
.mag-color
{
	color: grey;
}
.modal-img
{
	border: 2px solid rgba(128, 128, 128, 0.418);
	height: 200px;
	width: 200px;
}
.mycol
{
	color: #6dcffd;
}
.my-img
{
	height: 50px;
	margin-right: 10px;
	width: 50px;
}
.nav-item
{
	width: max-content;
}
.nav-p
{
	font-size: 20px;
	margin-top: 0;
	padding-top: 0;
}
.note
{
	margin-left: 10px;
}
.saketa
{
	height: 50px;
	margin-left: 10px;
	width: 175px;
}
.screen-body
{
	column-gap: 10px;
	margin-top: 10px;
}
.search
{
	margin-left: 8px;
	padding: 10px 0;
}

.search-btn
{
	background-color: #00b1fc;
	width: max-content;
	margin-top: 10px;
	/* margin-left: 2px; */
}
.search-field
{
	border-radius: 0;
	border-left: none;
}
.search-panel
{
	align-items: center;
	column-gap: 10px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
	padding: 10px 0;
	
}
.title
{
	margin-top: 10px;
}
.toggle
{
	display: none;
	margin-left: 10px;
}
.ulist
{
	margin-left: 15px;
	width: 100%;
}
.view-more
{
    display: none;
    padding-left: 0;
}



@media only screen and (min-width:2135px)
{
	.add-margin{
		margin-left: 20px;
	}
	.clr-btn{
		margin-left: 20px;
	}
	.display{
		grid-template-columns: auto auto auto auto auto auto;
	}
	.letter{
		justify-content: space-between;
	}
}

@media only screen and (max-width:2135px){
	.letter{
		justify-content: space-between;
	}
	
}

@media only screen and (max-width:1527px){
	.display{
		grid-template-columns: auto  auto auto ;
	}
	.letter{
		justify-content:left;
	}
}

@media only screen and (max-width:1173px)
{
	.body-right{
		width: 100%;
	}
	.toggle{
		display: block;
	}
	
	.body-left{
		display: none;
	}
}

@media only screen and (max-width:937px)
{
	.display{
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width:884px) 
{
	.clr-btn{
		margin-left: auto !important;
	}
	.emp-add{
		margin: 0 auto !important;
	}
}

@media only screen and (max-width:755px) 
{
	.emp-add{
		margin: 0 0 0 auto !important;
	}
}

@media only screen and (max-width:657px)
{
	.display{
		grid-template-columns: auto;
	}
} 

@media only screen and (max-width:484px)
{
	.search-panel{
		justify-content: center;
	}
	.clr-btn{
		margin-left: 0 !important;
	}
	.emp-add{
		margin-left: 0 !important;
	}

} 
