.html{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.saketa{
    height: 70px;
    width: 400px;
    margin-left: 10px;
}

.header-style{
    font-size: 20px;
}

.ulist{
    width: 100%;
    margin-left: 15px;
}

.my-img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.login{
    display:flex;
    flex-wrap: nowrap;
    column-gap: 10px; 
    align-items: center;
}

.nav-item{
    width: max-content;
}

.screen-body{
    margin-top: 10px;
    column-gap: 10px;
    /* flex-wrap: wrap; */
}

.body-left{
    /* background-color:papayawhip; */
    width: 275px;
}

.toggle{
    display: none;
    margin-left:10px ;
}

.body-right{
    width: 90%;
    overflow-x: hidden;
}

.filter-head{
    margin-left: 10px;
}

.filter-body{
    margin: 20px 15px;
}

.color{
    color: white;
}

.mycol{
    color: #0B5ED7;
}

.filter-btn{
    display: block;
    font-size: 13px;
    margin-top: 5px;
    width: max-content;
}

.search{
    width: 100%;
    padding: 10px 20px;
    margin-left: 20px;
}

.letter{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
}


.search-btn{
    margin-top: 10px;
}

.search-panel{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center;
    width: 95%;
    row-gap: 50px;
    justify-content: space-around;
    /* margin-left: 10px; */
    column-gap: 10px;

}

.dum-flex{
    display: flex;
    column-gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.g1{
    width: fit-content;
    text-align: center;
}

.note{
    margin-left: 40px;
}

.display-body{
    border: 2px solid lightgray;
    width: 95%;
    margin: 0 auto;
}

.display{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: center;  */
    width: 100%;
    margin: 10px auto;
    
}
.emp-card{
    width: 254px;
    margin: 5px 10px;
    background-color: lightgrey;
    cursor: pointer;
}

.emp-card-body{
    padding: 10px 10px;
    column-gap: 15px;
    align-items: center;
    font-size: 13px;
    
}
.emp-image{
    flex-grow:0.5;
}

.emp-text{
    flex-grow: 1;
}

.emp-text>p{
    margin: 5px;
    font-size: 11px;
}

.emp-image>img{
    height: 100px;
    width: 70px;
    margin: 5px 0;
}

.card-icons{
    margin-left: 8px;
}

.modal-img{
    height: 200px;
    width: 200px;
    border: 2px solid rgba(128, 128, 128, 0.418);
}

.emp-det{
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}


@media only screen and (max-width:1439px)
{
    .display{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .letter{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:1157px)
{
    .body-left{
        width:300px;
    }

    .display{
        justify-content: center;
    }

    .saketa{
        width:400px;
    }

    .navbar{
        display: flex;
        flex-wrap: nowrap;
        column-gap: 50px;
    }

    .nav-item{
        float: right;
    }

    .display{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        justify-content: space-around;
    }
}


@media only screen and (max-width:1027px)
{
    .navbar-nav{
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar{
        justify-content: center;
    }

    .body-right{
        overflow-x: hidden;
    }

}

@media only screen and (max-width:830px)
{
    .navbar{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar-nav{
        align-items: center;
    }

    .display{
        grid-template-columns: auto;
        justify-content: center;
    }

    .body-right{
        overflow-x: hidden;
    }
}

@media only screen and (max-width:601px)
{
    .body-left{
        display: none;
    }
    .toggle{
        display: block;
    }

    

    .body-right{
        overflow-x: hidden;
    }
}